<header class="header">

	<nav class="memu">
		<div class="burger">
			<div class="burger__wrap">
				<div class="burger__btn">
					<span class="burger__span"></span>
				</div>
			</div>
		</div>
		<ul class="menu__list">
			<li class="menu__items"> <a class="menu__link menu__link--visible" href="#">Home</a></li>
			<li class="menu__items"> <a class="menu__link" href="#">About Us</a></li>
			<li class="menu__items"> <a class="menu__link" href="#">Our Journal</a></li>
			<li class="menu__items"> <a class="menu__link" href="#">Projects</a></li>
			<li class="menu__items"> <a class="menu__link" href="#">news</a></li>
			<li class="menu__items"> <a class="menu__link" href="#">features</a></li>
			<li class="menu__items"> <a class="menu__link" href="#">contact</a></li>
		</ul>
	</nav>

</header>