.wrapper {
	font-family: $fontFamily;

}

.container {
	max-width: 1160px;
	padding: 0 2px;
	margin: 0 auto;
}

.header {
	width: 100%;
	min-height: 60px;

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		min-height: 60px;
		background-color: #ffffff;
		z-index: 2;
	}
}

@media (min-width: 768px) {
	.header {
		&::before {
			content: "";
			z-index: -1;
		}
	}
}

.burger {
	position: relative;

	&__wrap {
		z-index: 3;
		margin: 23px 0;
		cursor: pointer;
		background-color: #000000;
		position: absolute;
		right: 0;
		width: 44px;
		height: 37px;
	}

	&__btn {
		&::before {
			content: "";
			background-color: #ffffff;
			position: absolute;
			top: 0;
			left: 13px;
			top: 12px;
			width: 17px;
			height: 2px;
			transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
		}

		&--active::before {
			top: 50%;
			transform: rotate(45deg);
		}

		&::after {
			content: "";
			background-color: #ffffff;
			position: absolute;
			left: 13px;
			bottom: 13px;
			width: 17px;
			height: 2px;
			transition: transform 0.3s ease-in-out, bottom 0.3s ease-in-out;
		}

		&--active::after {
			bottom: auto;
			top: 50%;
			transform: rotate(-45deg);
		}
	}

	&__span {
		background-color: #ffffff;
		position: absolute;
		top: 0;
		left: 13px;
		top: 17px;
		width: 17px;
		height: 2px;
		transition: opacity 0.3s ease-in-out;

		&--active {
			opacity: 0;
		}
	}
}

@media (min-width: 768px) {
	.burger {
		&__wrap {
			display: none;
		}
	}
}

.menu {

	// .menu__list
	&__list {
		z-index: 1;
		display: block;
		position: fixed;
		top: 60px;
		right: 0;
		// overflow-y: auto;
		min-width: 182px;
		// max-height: 202px;
		background-color: #f5f5f5;
		transform: translateY(-150%);
		transition: transform 0.6s ease-in-out;

		&--visible {
			transform: none;
		}
	}

	// .menu__items

	&__items {
		padding: 12px 0 0 13px;

		&:hover {
			background-color: #e5e5e5;
		}
	}

	// .menu__link

	&__link {
		@include textStyle (400, 11, $color-text);
		text-transform: uppercase;
		text-decoration: none;
	}

	// .menu__link--first
	&__link--visible {
		color: #57a4a4;
	}
}

.stop-scroll {
	overflow: hidden;
}

@media (min-width: 768px) {
	.menu {
		&__list {
			z-index: 20;
			overflow: hidden;
			z-index: 1;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			position: relative;
			top: 0;
			right: 0;
			background-color: #ffffff;
			min-height: fit-content;
			transform: none;
		}

		&__items {
			padding: 40px 34px 0 0;

			&:hover {
				background-color: transparent;
			}
		}
	}
}

@media (min-width: 1200px) {
	.menu {
		&__items {
			padding: 45px 68px 0 0;

			&:hover {
				background-color: transparent;
			}
		}
	}
}