@font-face {
	font-family: "icons";
	font-display: swap;
	src: url("../fonts/icons.woff") format("woff"), url("../fonts/icon.woff2#icons");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"],
[class*="_icon-"] {
	&::before {
		@extend %ic;
		display: block;
	}
}

._icon-dribbble:before {
	content: "\e900";
}

._icon-facebook:before {
	content: "\e901";
}

._icon-pinterest:before {
	content: "\e902";
}

._icon-rss:before {
	content: "\e903";
}

._icon-Twitter:before {
	content: "\e904";
}